body {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: auto;
  color: rgb(90, 90, 90);
}
.topbar {
  height: 100px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid rgb(159, 159, 159);
  display: flex;
}
.left {
  display: flex;
}
.sidebar a{
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
  color:  rgb(90, 90, 90);
}
h2 {
  color: rgb(90, 90, 90);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  padding-left: 10px;
}
.left img {
  height: 60px;
  width: auto;
  align-self: center;
  margin-left: 30px;
}
.main {
  height: calc(100vh - 102px);
}
.sidebar {
  height: 100%;
  width: 200px;
  background-color: white;
  border-right: 2px solid rgb(159, 159, 159);
  float: left;
}
.container {
    padding: 30px;
    float: left;
    width: calc(100vw - 280px);
}
.container > h5 {
  color: rgb(90, 90, 90);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-left: 20px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
}
.firstname, .branch,.lastname,.mobile, .email {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
input{
  width: 100%;
  padding: 10px 50px 10px 10px;
}
.branch  > select{
  padding: 10px 123px 10px 10px;
  width: 100%;
}
.Facility > input {
  width: 10px ;
  margin-top: 10px;
}
.sec-div{
  float: left;
  margin-left: 40px;
  width: auto;
  max-width: 70%;
}
.subject > input{
  width: 40px;
  margin-top: 10px;
}
.address{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: calc(100% - 40%);
}
.button-container {
  float: right;
  margin-left: 600px;
}
.clear{
  background-color: rgb(254, 115, 95);
  padding: 10px 40px 10px 40px;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  border-color: transparent;
}
.submit{
  background-color: rgb(59, 185, 137);
  padding: 10px 40px 10px 40px;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  border-color: transparent;
}
@media screen and (max-width:524px) {
  .sidebar{
    display: none;
  }
  .firstname,.lastname,.mobile, .branch, .email{
    width: 300px;
    margin: 0;
    padding: 0;
  }
  .container{
    width: auto;
  }
  .container > h5 {
    margin-left: 0;
  }
  .sec-div{
    width: auto;
    margin: 0;
    padding-left: 30px;
  }
  .subject > input{
    width: 17px;
    margin-top: 10px;
  }
  .button-container{
  margin-left: 500px;
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  }
  .clear{
    background-color: rgb(254, 115, 95);
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    border-color: transparent;
  }
  .submit{
    background-color: rgb(59, 185, 137);
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    border-color: transparent;
  }
  .address{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: auto;
  }
  .Facility{
    padding-top: 20px;
  }
}
@media screen and (min-width: 525px) and (max-width: 976px){
  .container {
    padding: 30px;
    float: left;
    width: calc(100vw - 300px);
  }
  .sec-div{
    margin-left: 0px;
    padding-left: 20px;
  }
  .firstname, .branch,.lastname,.mobile, .email {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .subject > input{
    width: 15px;
    margin-top: 10px;
  }
  .sidebar{
    width: auto;
    max-width: 150px;
  }
  .button-container{
    display: inline-flex;
  }
  .clear{
    background-color: rgb(254, 115, 95);
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    border-color: transparent;
  }
  .submit{
    background-color: rgb(59, 185, 137);
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    border-color: transparent;
  }
  .sidebar a {
    width: auto;
  }
  .branch  > select{
    padding: 10px 60px 10px 10px;
  }
  .form-container{
    width: auto;
  }
  .container{
    padding: 20px;
  }
  input{
    width: auto;
  }
}
@media screen and (min-width: 977px) and (max-width: 1247px){
  .container {
    padding: 30px;
    float: left;
    width: calc(100vw - 300px);
  }
  .sec-div{
    margin-left: 0px;
    padding-left: 20px;
  }
  .firstname, .branch,.lastname,.mobile, .email {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .subject > input{
    width: 15px;
    margin-top: 10px;
  }
  .sidebar{
    width: auto;
    max-width: 150px;
  }
  .button-container{
    display: inline-flex;
  }
  .clear{
    background-color: rgb(254, 115, 95);
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    border-color: transparent;
  }
  .submit{
    background-color: rgb(59, 185, 137);
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    border-color: transparent;
  }
  .sidebar a {
    width: auto;
  }
  .branch  > select{
    padding: 10px 60px 10px 10px;
  }
  .form-container{
    width: auto;
    padding: 15px;
  }
  .container{
    padding: 0px;
  }
  input{
    width: 260px;
  }
}