body {
  margin: 0 auto;
  background-color: rgb(46, 24, 31);
}
.topbar {
  width: 100%;
  height: 100px;
  background-color: rgb(75, 38, 87);
  display: flex;
  justify-content: center;
  justify-content: space-between;
  overflow: hidden;
}
.mainbar {
  float: left;
  width: 100%;
  height: 250px;
  margin-top: 10px;
  background-color: rgb(202, 209, 232);
  border-radius: 10px;
}
.mainbar h1 {
  text-decoration: underline;
}
.mainbar p {
  font-size: 2vm;
}
.boxes {
  margin-top: 25px;
  width: 474.2px;
  height: 300px;
  background-color: rgb(202, 209, 232);
  float: left;
  border-radius: 10px;
}
.box2 {
  margin-left: 25px;
}
.left > h2 {
  color: aliceblue;
  float: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15%;
}
.left img {
  height: 60px;
  width: 60px;
  margin-top: 20px;
  margin-left: 15px;
  float: left;
}
.right {
  display: flex;
  align-self: center;
  padding: 40px;
}
a {
  color: aliceblue;
  padding: 20px;
  text-decoration: none;
}
@media screen and (max-width: 426px) {
  .topbar a {
    display: none;
  }
  .boxes {
    margin-left: 0;
    width: 100%;
  }
  .menu-bar i {
    font-size: 20px;
    color: aliceblue;
  }
  .mainbar {
    width: 100%;
    height: auto;
  }
  .box1 {
    width: 100%;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .menu-bar {
    display: none;
  }
  .topbar a {
    display: none;
  }
  .box1 {
    width: 100%;
  }
  .box2 {
    width: calc((100% / 2) - 35px);
  }
}
