body {
  background-color: rgb(48, 27, 26);
}
#topbar {
  background-color: rgb(83, 49, 97);
  height: 115px;
  display: flex;
  justify-content: space-between;
}
#mainbar {
  background-color: rgb(210, 217, 233);
  height: 340px;
  width: 100%;
  margin-top: 10px;
}
#thirdbox {
  background-color: rgb(185, 65, 66);
  height: 400px;
  margin-top: 15px;
}
#thirdfirstbox {
  background-color: rgb(218, 218, 218);
  height: 90%;
  width: 98%;
  margin: 0 auto;
  position: relative;
  top: 5%;
  border: 4px solid chartreuse;
}
/*#thirdsecondbox {
  background-color: antiquewhite;
  height: 98%;
  width: 1855px;
  position: relative;
  top: 1%;
  margin-left: 5px;
}*/
.mainboxleft {
  background-color: rgb(133, 223, 127);
  height: 50%;
  width: 25%;
  float: left;
  position: relative;
  top: 80px;
}
.right {
  float: right;
}
.left h2 {
  display: inline;
  color: aliceblue;
}
.left {
  float: left;
}
.box2 {
  float: right;
  margin-right: 70px;
}
.box1 {
  margin-left: 70px;
  text-decoration-color: blueviolet;
}
.right a {
  text-decoration: none;
  margin-left: 5px;
}
.right a:hover {
  background-color: aliceblue;
  color: chocolate;
}
.right a:active {
  background-color: chartreuse;
  color: darkred;
}
.right a:link {
  padding: 20px;
  color: white;
}
