body {
  background-color: brown;
}
#topbar {
  background-color: purple;
  height: 115px;
  display: flex;
  justify-content: space-between;
}
#mainbar {
  background-color: rgb(212, 215, 218);
  height: 340px;
  width: 100%;
  margin-top: 10px;
}
#thirdbox {
  background-color: orangered;
  height: 400px;
  margin-top: 15px;
}
#thirdfirstbox {
  background-color: antiquewhite;
  height: 90%;
  width: 98%;
  margin: 0 auto;
  position: relative;
  top: 5%;
  border: 4px solid chartreuse;
}
/*#thirdsecondbox {
  background-color: antiquewhite;
  height: 98%;
  width: 1855px;
  position: relative;
  top: 1%;
  margin-left: 5px;
}*/
.mainboxleft {
  background-color: aqua;
  height: 50%;
  width: 25%;
  float: left;
  position: relative;
  top: 80px;
}
.right {
  float: right;
}
.left h2 {
  display: inline;
  color: aliceblue;
}

.left {
  float: left;
}
.box2 {
  float: right;
  margin-right: 70px;
}
.box1 {
  margin-left: 70px;
  text-decoration-color: blueviolet;
}
.right a {
  text-decoration: none;
  margin-left: 5px;
}
.mainbar p {
  color: blue;
}
.box2 > p {
  color: navy;
}
.right a:hover {
  background-color: aliceblue;
  color: chocolate;
}
.right a:active {
  background-color: chartreuse;

  color: darkred;
}
.right a:link {
  background-color: cyan;
  color: rgb(153, 118, 118);
}
