body {
  background-color: rgb(236, 236, 236);
  margin: 0 auto;
}
#topbar {
  background-color: rgb(98, 92, 92);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-container {
  width: 200px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
#left img {
  height: 60px;
  margin-right: 20px;
  position: relative;
  position: absolute;
  left: 20px;
}
#left h2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 60px;
}
#right {
  width: auto;
  float: right;
}
#right img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.main {
  height: calc(100vh - 81px);
}
#sidebar {
  background-color: rgb(98, 92, 92);
  height: 100%;
  width: 150px;
  float: left;
  border-top: 1px solid rgb(236, 236, 236);
}
#sidebar a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#sidebar p {
  color: rgb(64, 179, 134);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding-left: 10px;
}
#sidebar nav a {
  color: white;
  padding: 10px;
}
#container > h2 {
  color: black;
  margin: 0 0 15px 0;
  text-decoration: underline;
}
#container {
  padding: 15px;
  float: left;
  width: calc(100vw - 200px);
}
.green-bg {
  background-color: rgb(64, 179, 134);
}
.purple-bg {
  background-color: rgb(162, 89, 255);
}
.red-bg {
  background-color: rgb(243, 78, 30);
}
.cyan-bg {
  background-color: rgb(26, 188, 253);
}
#tile-container,
#circle-container {
  display: flex;
}
#tile-container {
  margin-bottom: 15px;
}
#container h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tile {
  height: 150px;
  width: calc((100%) / 4);
}
.tile,
.circle,
.chart {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tile h2,
.tile h3 {
  color: white;
}
.circle,
.chart {
  height: calc((100vw - 300px) / 4);
  width: calc((100%) / 4);
}
.circle {
  border-radius: 50%;
}
#tile-container > div,
#circle-container > div {
  margin-right: 20px;
}
#tile-container > div:last-child,
#circle-container > div:last-child {
  margin-right: 0;
}
.inner-one {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.inner-one h2,
.inner-four h2 {
  color: #fff;
}
.inner-two {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.inner-one h2 {
  color: #555;
}
.inner-three {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 114, 99);
  overflow: hidden;
}
.inner-four {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 6px;
}
.bar {
  width: 15px;
  position: absolute;
}
.chart {
  position: relative;
  display: block;
}
.chart div {
  bottom: 0;
}
.one {
  left: 0;
  height: calc(100% - 50px);
}
.two {
  left: 40px;
  height: calc(100% - 160px);
}
.three {
  left: 90px;
  height: calc(100% - 130px);
}
.four {
  left: 135px;
  height: calc(100% - 210px);
}
.five {
  left: 180px;
  height: calc(100% - 80px);
  background-color: rgb(98, 92, 92);
}
.six {
  left: 225px;
  height: calc(100% - 230px);
  background-color: rgb(255, 114, 99);
}
.seven {
  width: 100%;
  height: 15px;
  background-color: rgb(98, 92, 92);
  position: absolute;
}
#sidebar nav {
  display: flex;
  flex-direction: column;
  padding: 15px 20px 30px 30px;
}
